# 开发过程产生的临时文件
build/
dist/
.idea/
__pycache__/

# 用户独有的配置文件
env.bat
config/env.yml
config/game.yml
config/dodge_assistant.yml
config/zzz_one_dragon.yml
config/[0-9]*/
config/dodge/*
!config/dodge/*.sample.yml
config/auto_battle/*
!config/auto_battle/*.sample.yml
config/auto_battle_state_handler/*
!config/auto_battle_state_handler/*.sample.yml
config/auto_battle_operation/*
!config/auto_battle_operation/*.sample.yml
installer.exe

# 用户运行时产生的文件
.log/
.env/
.temp_clone/
.debug/
.conda/
.vscode/
.venv/

# 模型文件 仅保留手工commit的
models/yolo/
