PrimaryPushButton {
    color: black;
    background-color: #f5d742;
    border: none;
    border-radius: 20px;
}

PrimaryPushButton:hover {
    background-color: #e5c033; /* 悬停时的背景色 */
}

PrimaryPushButton:pressed {
    background-color: #d4b322; /* 按下时的背景色 */
}
