#title {
    color: #333333;
}

#title:hover {
    color: #f5d742;
}

#date {
    color: #333333;
}

QListWidget {
    background-color: transparent;
    border: none
}

QListWidgetItem {
    padding: 0px;
}

QStackedWidget {
    background-color: transparent;
}

#error {
    color: #eb5a16;
    background-color: #fff;
    border: 2px solid #eb5a16;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
}