description: "黄光时 尽量使用双反"
handlers:
  # 青衣特殊技不可用的情况下没必要切人
  - states: "[前台-青衣] & [按键可用-特殊攻击]"
    sub_handlers:
      - state_template: "闪A模板-青衣"
      - state_template: "闪A模板-通用"

  - states: ""
    operations:
      - operation_template: "双反-下一个"
      - op_name: "设置状态"
        data: ["自定义-黄光切人"]
