handlers:
  - states: "[前台-青衣]"
    sub_states:
    - states: "[按键可用-终结技]"
      operations:
        - op_name: "按键-终结技"
          post_delay: 4

    - states: "[青衣-电压, 0, 999]{75, 101}"
      operations:
        - op_name: "按键-普通攻击-按下"
          way: "按下"
          press: 2.5

    - states: "[按键可用-特殊攻击]"
      operations:
        - op_name: "按键-闪避"
          post_delay: 0.1
        - op_name: "按键-特殊攻击"
          post_delay: 1

    - states: ""
      operations:
      - op_name: "按键-普通攻击"
      - op_name: "按键-移动-前"
        way: "按下"
        press: 0.2
