template_name: "速切模板-薇薇安"
handlers:
  - states: "[前台-薇薇安]"
    sub_handlers:
      - states: "[自定义-异常-物理, 0, 99] | [自定义-异常-冰, 0, 99] | [自定义-异常-火, 0, 99] | [自定义-异常-电, 0, 99] | [自定义-异常-烈霜]{0, 99}"
        debug_name: "清除其他异常积蓄"
        operations:
          - op_name: "清除状态"
            state_list:
              [
                "自定义-异常-火",
                "自定义-异常-冰",
                "自定义-异常-物理",
                "自定义-异常-电",
                "自定义-异常-烈霜",
              ]

      - states: "[自定义-黄光切人, 0, 1]"
        sub_handlers:
          - states: "[薇薇安-特殊技可用]"
            operations:
              - op_name: "设置状态"
                state: "自定义-不使用快速支援"
                seconds: 5
              - operation_template: "薇薇安-支援攻击不合轴"
          - states: "![薇薇安-特殊技可用]"
            operations:
              - operation_template: "薇薇安-支援攻击"

      - states: "[自定义-红光闪避, 0, 1]"
        operations:
          - operation_template: "薇薇安-闪A"

      - states: "[按键可用-连携技, 0, 0.5]"
        operations:
          - operation_template: "薇薇安-连携攻击"

      # 防呆
      - states: "([按键-切换角色-下一个, 0, 0.3]|[按键-切换角色-上一个, 0, 0.3])"
        debug_name: "切人后等待"
        sub_handlers:
          - states: "[按键可用-快速支援, 0, 0.5]"
            sub_handlers:
              - states: "[薇薇安-终结技可用]"
                operations:
                  - operation_template: "薇薇安-终结技"
              - states: "[薇薇安-特殊技可用]"
                operations:
                  - op_name: "设置状态"
                    state: "自定义-不使用快速支援"
                    seconds: 5
                  - operation_template: "薇薇安-快速支援不合轴"
              - states: "![薇薇安-特殊技可用]"
                operations:
                  - operation_template: "薇薇安-快速支援"
          - states: ""
            operations:
              - op_name: "等待秒数"
                seconds: 0.3

      - states: "[薇薇安-终结技可用]"
        operations:
          - operation_template: "薇薇安-终结技"

      - states: "[薇薇安-特殊技可用]"
        operations:
          - op_name: "清除状态"
            state: "自定义-不使用快速支援"
          - operation_template: "薇薇安-强化特殊技合轴"

      - states: ""
        debug_name: "无能量普攻"
        operations:
          - operation_template: "薇薇安-3A"
          - operation_template: "薇薇安-4A突刺"
          - operation_template: "薇薇安-5A悬落"
