handlers:
  - states: "[前台-11号]"
    sub_handlers:
      - states: "[自定义-黄光切人, 0, 2]"
        sub_handlers:
          - state_template: "支援攻击模板-全角色"

      - states: "[自定义-连携换人,0,1]"
        operations:
          - operation_template: "通用-连携攻击"

      - states: "([按键-切换角色-下一个,0,0.3]|[按键-切换角色-上一个,0,0.3])"
        operations:
          - op_name: "清除状态"
            state: "自定义-动作不打断"
          - op_name: "清除状态"
            state: "自定义-11号-火力压制"

      - states: "[自定义-连携,0,6]"
        operations:
          - op_name: "设置状态"
            state: "自定义-11号-火力压制"
          - op_name: "按键-闪避"
            post_delay: 0.2
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "清除状态"
            state: "自定义-11号-火力压制"

      #合轴时刻      
      - states: "![按键-切换角色-下一个,0,8] & ![按键-切换角色-上一个,0,8] &![自定义-速切结束]"
        operations:
          - operation_template: "通用-切人普通攻击"

      - states: "[按键可用-终结技] & !([按键-切换角色-下一个,0,1]|[按键-切换角色-上一个,0,1]) & ![自定义-11号-火力压制,0,6] & ![自定义-连携,0,6] & ![自定义-动作不打断, 0, 30]"
        operations:
          - op_name: "设置状态"
            state: "自定义-11号-火力压制"
          - op_name: "按键-终结技"
            post_delay: 2.5
            repeat: 2
          - op_name: "按键-闪避"
            post_delay: 0.2
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "清除状态"
            state: "自定义-11号-火力压制"
            
      - states: "[自定义-连携,4,12]"
        operations:
          - op_name: "设置状态"
            state: "自定义-11号-火力压制"
          - op_name: "按键-闪避"
            post_delay: 0.2
          - op_name: "按键-特殊攻击"
            post_delay: 1.2
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "清除状态"
            state: "自定义-11号-火力压制"


      - states: "[11号-能量]{80,120} & [按键可用-特殊攻击] & ![自定义-11号-火力压制,0,6] & ![自定义-连携,0,6]"
        operations:
          - op_name: "设置状态"
            state: "自定义-11号-火力压制"
          - op_name: "按键-闪避"
            post_delay: 0.2
          - op_name: "按键-特殊攻击"
            post_delay: 1.2
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "清除状态"
            state: "自定义-11号-火力压制"

      - states: "![自定义-11号-火力压制,0,6] & ![11号-能量]{80,120}"
        operations:
          - op_name: "按键-闪避"
            post_delay: 0.2
          - op_name: "按键-普通攻击"
            post_delay: 0.4
            repeat: 8
          - op_name: "设置状态"
            data: [ "自定义-速切结束" ]