handlers:
  - states: "[前台-赛斯]"
    sub_handlers:
      - states: "[自定义-黄光切人, 0, 2]"
        sub_handlers:
          - state_template: "支援攻击模板-全角色"
      - states: "[自定义-连携换人,0,1]"
        operations:
          - operation_template: "通用-连携攻击"

      - states: "([按键-切换角色-下一个,0,0.3]|[按键-切换角色-上一个,0,0.3]) | [自定义-快速支援换人,0,1]"
        operations:
          - op_name: "清除状态"
            state: "自定义-动作不打断"

      #合轴时刻      
      - states: "![按键-切换角色-下一个,0,12] & ![按键-切换角色-上一个,0,12] &![自定义-速切结束]"
        operations:
          - operation_template: "通用-切人普通攻击"

      - states: "[赛斯-意气]{95, 101}"
        operations:
          - op_name: "按键-普通攻击"
            way: "按下"
            press: 2.2
          - op_name: "设置状态"
            state: "自定义-赛斯-意气风发"

      - states: "[赛斯-能量]{80,120} & [按键可用-特殊攻击]"
        operations:
          - op_name: "按键-特殊攻击-按下"
            data: ["0.5"]
            post_delay: 1.5

      - states: "![赛斯-意气]{95, 101} &![赛斯-能量]{80,120} &![按键可用-特殊攻击]"
        operations:
          - op_name: "设置状态"
            data: [ "自定义-速切结束" ]
