# 耀嘉音的上一位和下一位无法识别, 这非常无解

template_name: "速切模板-耀嘉音"
handlers:
  - states: "[前台-耀嘉音]"
    sub_handlers:
      - states: "[自定义-黄光切人, 0, 1]"
        operations:
          - operation_template: "通用-支援攻击"

      - states: "[自定义-红光闪避, 0, 1]"
        operations:
          - operation_template: "通用-闪A"

      - states: "[按键可用-连携技, 0, 0.5]"
        operations:
          - operation_template: "通用-连携攻击"

      - states: "[耀嘉音-终结技可用]"
        operations:
          - op_name: "清除状态"
            state: "自定义-耀嘉音-终结技连携"
          - operation_template: "耀嘉音-终结技"
          - op_name: "设置状态"
            state: "自定义-耀嘉音-终结技连携"
            add: 2

      - states: "![按键可用-快速支援, 0, 1]"
        operations:
          - op_name: "按键-移动-前-按下"
          - op_name: "按键-特殊攻击"
            post_delay: 0.1
            repeat: 3
          - op_name: "等待秒数"
            seconds: 2
