template_name: "速切模板-本"
handlers:
  - states: "[前台-本]"
    sub_handlers:
      - states: "[自定义-黄光切人, 0, 2]"
        sub_handlers:
          - state_template: "支援攻击模板-全角色"
      - states: "[自定义-连携换人,0,1]"
        operations:
          - operation_template: "通用-连携攻击"

      - states: "([按键-切换角色-下一个,0,0.3]|[按键-切换角色-上一个,0,0.3])"
        operations:
          - op_name: "清除状态"
            state: "自定义-动作不打断"

      - states: "[本-终结技可用]"
        operations:
          - op_name: "设置状态"
            state: "自定义-动作不打断"
          - op_name: "按键-终结技"
            post_delay: 1
            repeat: 5
          - op_name: "清除状态"
            state: "自定义-动作不打断"

      - states: "[本-特殊技可用]"
        operations:
          - op_name: "设置状态"
            state: "自定义-本-守卫"
          - op_name: "等待秒数"
            seconds: 0.05
          - op_name: "按键-特殊攻击"
            post_delay: 0.1
            repeat: 5

      - states: ""
        operations:
          - operation_template: "通用-切人普通攻击"