description: |
  专属配队-艾莲
  配队列表：艾莲-莱卡恩-苍角
  备注： 莱卡恩可换其他击破
  版本号： 1.3
  作者： 巡夜子

#基础配置
check_dodge_interval: 0.03
check_agent_interval: [0.4, 0.6]
check_special_attack_interval: [0.4, 0.6]
check_ultimate_interval: [0.4, 0.6]
check_chain_interval: 0.3
check_quick_interval: 0.2

#速切模板-苍角
t-c: &c
  - op_name: "按键-特殊攻击"
    post_delay: 0.3
  - op_name: "按键-特殊攻击"
    way: "按下"
    post_delay: 0.9
  - op_name: "按键-普通攻击"
    post_delay: 0.025
  - op_name: "设置状态"
    data: ["自定义-增益"]
    post_delay: 0.6
#速切模板-击破
t-l: &l
  - op_name: "按键-特殊攻击"
    post_delay: 0.025
    repeat: 2
  - op_name: "按键-普通攻击"
    post_delay: 0.025
  - op_name: "设置状态"
    data: ["自定义-速切结束"]

#站场模板-艾莲-切换下一个
t-ad: &ad
  - op_name: "按键-移动-前"
    way: "松开"
  - op_name: "按键-切换角色-下一个"
    post_delay: 0.1
  - op_name: "设置状态"
    data: ["自定义-速切结束"]

#连携模板-上一个
t-lu: &lu
  - op_name: "按键-连携技-左"
    post_delay: 0.2
    repeat: 2
  - op_name: "按键-特殊攻击"
    post_delay: 1.4
#连携模板-下一个
t-ld: &ld
  - op_name: "按键-连携技-右"
    post_delay: 0.2
    repeat: 2
  - op_name: "按键-特殊攻击"
    post_delay: 1.4
scenes:
  - triggers: ["闪避识别-黄光", "闪避识别-红光", "闪避识别-声音"]
    priority: 90
    handlers:
      - states: "[前台-艾莲] & [闪避识别-黄光] & ![按键-切换角色-下一个,0,10]"
        operations:
          - op_name: "按键-切换角色-下一个"
            post_delay: 0.025
          - op_name: "按键-普通攻击"
            post_delay: 0.025
            repeat: 4
          - op_name: "按键-切换角色-下一个"
          - op_name: "设置状态"
            data: ["自定义-速切结束"]
      - states: "[前台-艾莲] & [闪避识别-黄光] & ![按键-切换角色-上一个,0,10]"
        operations:
          - op_name: "按键-切换角色-上一个"
            post_delay: 0.025
          - op_name: "按键-普通攻击"
            post_delay: 0.05
            repeat: 12
          - op_name: "按键-普通攻击"
            press: 0.3
            post_delay: 0.05
            repeat: 3
          - op_name: "设置状态"
            data: ["自定义-增益"]
      - states: "[前台-艾莲] & ([闪避识别-黄光] | [闪避识别-红光] | [闪避识别-声音] )& [按键-切换角色-下一个,0,10]"
        operations:
          - op_name: "按键-移动-前"
            way: "按下"
            post_delay: 0.01
          - op_name: "按键-闪避"
            way: "按下"
            press: 0.01
            post_delay: 0.15
            repeat: 2
          - op_name: "按键-普通攻击"
            way: "按下"
            press: 0.6
            post_delay: 0.025
          - op_name: "按键-移动-前"
            way: "松开"
            post_delay: 0.1
  - triggers: ["按键可用-连携技"]
    priority: 99
    interval: 0.2
    handlers:
      - states: "[按键可用-连携技]"
        sub_states:
          - states: "(![连携技-1-艾莲] & ![连携技-1-击破] & ![连携技-1-苍角]) | (![连携技-1-击破] & [连携技-2-艾莲])"
            operations: *lu
          - states: "[连携技-1-艾莲] | [连携技-1-击破] | [连携技-1-苍角]"
            operations: *ld

  - triggers: ["按键可用-快速支援"]
    priority: 98
    handlers:
      - states: "[按键可用-快速支援,0,0.5]"
        sub_states:
          - states: "[前台-苍角]"
            operations:
              - op_name: "按键-移动-前"
                way: "松开"
              - op_name: "按键-切换角色-下一个"
                post_delay: 0.5
              - op_name: "按键-闪避"
                post_delay: 0.3
              - op_name: "清除状态"
                data: ["自定义-速切结束"]
          - states: "![前台-苍角]"
            operations:
              - op_name: "按键-移动-前"
                way: "松开"
              - op_name: "按键-切换角色-下一个"
                post_delay: 0.1
              - op_name: "按键-特殊攻击"
                post_delay: 0.025
                repeat: 4
              - op_name: "按键-闪避"
                post_delay: 0.3
              - op_name: "清除状态"
                data: ["自定义-速切结束"]
  - triggers: ["按键可用-终结技"]
    priority: 10
    interval: 1
    handlers:
      - states: "[前台-艾莲] & [按键可用-终结技] & ![按键-切换角色-下一个,0,1]"
        operations:
          - op_name: "按键-终结技"
            post_delay: 0.2
            repeat: 2

  - triggers: ["前台-苍角"]
    priority: 2
    interval: 1
    handlers:
      - states: "[前台-苍角]"
        operations: *c

  - triggers: ["前台-击破"]
    priority: 1
    interval: 1
    handlers:
      - states: "[前台-击破]"
        operations: *l

  - triggers: []
    priority: 3
    interval: 0.2
    handlers:
      # 速切之后 切换回强攻角色
      - states: "![前台-艾莲] & ![按键可用-快速支援]"
        sub_states:
          - states: "[前台-击破] & [自定义-速切结束,0,0.5]"
            operations:
              - op_name: "按键-特殊攻击"
                post_delay: 0.025
              - op_name: "按键-移动-前"
                way: "松开"
              - op_name: "按键-切换角色-下一个"
                post_delay: 0.1
              - op_name: "清除状态"
                data: ["自定义-速切结束"]
          # 错误处理
          - states: "[前台-苍角] & [自定义-速切结束,4,99]"
            operations:
              - op_name: "按键-移动-前"
                way: "松开"
              - op_name: "按键-切换角色-下一个"
                post_delay: 0.1
              - op_name: "清除状态"
                data: ["自定义-速切结束"]
          #???神秘情况备用
          - states: "![前台-苍角] & (![前台-击破] & ![前台-艾莲]"
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.1

      - states: "[前台-艾莲] & ![自定义-增益,0,999]"
        operations:
          - op_name: "设置状态"
            data: ["自定义-增益"]

      - states: "[前台-艾莲] & [自定义-增益,22,999] & ![自定义-增益,0,22] & ![自定义-速切结束,0,22]"
        operations: *ad

      - states: "[前台-艾莲] & [按键可用-特殊攻击]"
        operations:
          - operation_template: "艾莲-特殊攻击"

      - states: "[前台-艾莲] & ![按键可用-特殊攻击]"
        operations:
          - operation_template: "艾莲-普通攻击"
