# 基础信息
author: "笙梦昱"
thanks: "巡夜子 starlight"
homepage: "https://b23.tv/QBbqzRK"
version: "1.0"
team_list:
  - ["青衣", "妮可", "悠真"]
  - ["安比", "妮可", "悠真"]
introduction: ""

check_dodge_interval: 0.02
check_agent_interval: [0.4, 0.6]
check_special_attack_interval: [0.4, 0.6]
check_ultimate_interval: [0.4, 0.6]
check_chain_interval: [0.9, 1.1]
check_quick_interval: [0.9, 1.1]
auto_lock_interval: 5

t-dodge: &t-dodge
  - op_name: "设置状态"
    state: "自定义-闪避"
  - op_name: "按键-移动-前"
    way: "按下"
    post_delay: 0.1
  - op_name: "按键-闪避"
    post_delay: 0.1
  - op_name: "按键-移动-前"
    way: "松开"

# 快速支援
t-quick-assist: &t-quick-assist
  - op_name: "按键-快速支援"
  - op_name: "设置状态"
    state: "自定义-快速支援换人"
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]

# 快速支援-妮可
t-quick-assist-nicole: &t-quick-assist-nicole
  - op_name: "按键-快速支援"
  - op_name: "设置状态"
    state_list: ["自定义-快速支援换人"]
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]

# 连携技 邦布
t-chain-bamboo: &t-chain-bamboo
  - op_name: "按键-连携技-左"
  - op_name: "设置状态"
    state_list: ["自定义-连携技换人", "自定义-连携技邦布"]
  - op_name: "等待秒数"
    seconds: 3


# 连携技 上一个
t-chain-left: &t-chain-left
  - op_name: "按键-连携技-左"
  - op_name: "设置状态"
    state_list: ["自定义-连携技换人"]

# 连携技 下一个
t-chain-right: &t-chain-right
  - op_name: "按键-连携技-右"
  - op_name: "设置状态"
    state_list: ["自定义-连携技换人"]

# 招架支援-悠真
t-dodge-haurmasa: &t-dodge-haurmasa
  - op_name: "设置状态"
    state: "自定义-招架支援"
  - op_name: "按键-切换角色"
    agent_name: "悠真"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]

# 切换角色-悠真
t-switch-haurmasa: &t-switch-haurmasa
  - op_name: "按键-切换角色"
    agent_name: "悠真"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]
  - op_name: "等待秒数"
    seconds: 0.3

# 招架支援-妮可
t-dodge-nicole: &t-dodge-nicole
  - op_name: "设置状态"
    state: "自定义-招架支援"
  - op_name: "按键-切换角色"
    agent_name: "妮可"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]

# 切换角色-妮可
t-switch-nicole: &t-switch-nicole
  - op_name: "按键-切换角色"
    agent_name: "妮可"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]
  - op_name: "等待秒数"
    seconds: 0.3

# 招架支援-青衣
t-dodge-qingyi: &t-dodge-qingyi
  - op_name: "设置状态"
    state: "自定义-招架支援"
  - op_name: "按键-切换角色"
    agent_name: "青衣"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]

# 切换角色-青衣
t-switch-qingyi: &t-switch-qingyi
  - op_name: "按键-切换角色"
    agent_name: "青衣"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]
  - op_name: "等待秒数"
    seconds: 0.2

# 招架支援-安比
t-dodge-anby: &t-dodge-anby
  - op_name: "设置状态"
    state: "自定义-招架支援"
  - op_name: "按键-切换角色"
    agent_name: "青衣"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]

# 切换角色-安比
t-switch-anby: &t-switch-anby
  - op_name: "按键-切换角色"
    agent_name: "青衣"
  # 注意清除其他相关的换人状态
  - op_name: "清除状态"
    state_list: ["自定义-动作不打断"]
  - op_name: "等待秒数"
    seconds: 0.2


scenes:

  - triggers: ["闪避识别-黄光", "闪避识别-红光", "闪避识别-声音"]
    interval: 1
    handlers:
      - states: "![自定义-动作不打断, 0, 5]"
        sub_handlers:
          - states: "[闪避识别-黄光]"
            sub_handlers:
              # 优先切青衣，妮可
              - states: "[后台-青衣] & ![自定义-招架支援, 0, 30]"
                operations: *t-dodge-qingyi
              - states: "[后台-安比] & ![自定义-招架支援, 0, 30]"
                operations: *t-dodge-anby
              - states: "[后台-妮可] & ![自定义-招架支援, 0, 30]"
                operations: *t-dodge-nicole
              - states: "[后台-悠真] & ![自定义-招架支援, 0, 30]"
                operations: *t-dodge-haurmasa

          # 其余情况闪避
          - states: ""
            operations: *t-dodge

  - triggers: ["按键可用-快速支援"]
    interval: 1
    handlers:
      - states: "[按键可用-快速支援]"
        sub_handlers:
          - states: "[前台-妮可]"
            operations: *t-quick-assist-nicole

  - triggers: ["按键可用-连携技"]
    interval: 0.02
    handlers:
      - states: "[按键可用-连携技]"
        sub_handlers:
          # 邦布的出场持续时间比较难评估
          - states: "[连携技-1-邦布]"
            operations: *t-chain-bamboo

          # 保证场上有电壶 先出悠真
          - states: "[连携技-1-悠真] | [连携技-2-悠真]"
            sub_handlers:
              - states: "[连携技-1-悠真]"
                operations: *t-chain-left
              - states: "[连携技-2-悠真]"
                operations: *t-chain-right

          # 剩余情况
          - states: "[连携技-1-妮可]"
            operations: *t-chain-left
          - states: "[连携技-2-妮可]"
            operations: *t-chain-right
          - states: "[连携技-1-青衣]"
            operations: *t-chain-left
          - states: "[连携技-2-青衣]"
            operations: *t-chain-right
          - states: "[连携技-1-安比]"
            operations: *t-chain-left
          - states: "[连携技-2-安比]"
            operations: *t-chain-right


  - triggers: []
    interval: 0.05
    handlers:
      - state_template: "站场模板-未识别角色"

      # 失衡期间悠真输出

      - states: "[自定义-连携技换人, 0, 14]"
        sub_handlers:
          - states: "![前台-悠真]"
            operations:
              - op_name: "等待秒数"
                seconds: 1
              - op_name: "按键-切换角色"
                agent_name: "悠真"
              # 注意清除其他相关的换人状态
              - op_name: "清除状态"
                state_list: ["自定义-动作不打断"]
              - op_name: "等待秒数"
                seconds: 0.2

      # 悠真
      - states: "[前台-悠真]"
        interrupt_states: ["后台-悠真"]
        sub_handlers:

          - states: "[自定义-招架支援]"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - op_name: "按键-普通攻击"
                pre_delay: 0.1
                post_delay: 0.1
                repeat: 10
              - op_name: "等待秒数"
                seconds: 0.5
              - op_name: "清除状态"
                state: "自定义-动作不打断"

          - states: "[自定义-连携技换人, 0, 14]"
            sub_handlers:
              - states: "[按键可用-终结技]"
                operations:
                  - op_name: "按键-终结技"
                    post_delay: 0.1
                    repeat: 20
                  - op_name: "等待秒数"
                    seconds: 1.5

              - states: "[自定义-连携技换人, 0, 7]"
                operations:
                  - op_name: "等待秒数"
                    seconds: 1.25
                  - op_name: "按键-闪避"
                    post_delay: 0.1
                  - op_name: "按键-普通攻击"
                    post_delay: 0.1
                    repeat: 27
                  - op_name: "等待秒数"
                    seconds: 0.3
                  - op_name: "按键-闪避"
                    post_delay: 0.1
                  - op_name: "按键-普通攻击"
                    post_delay: 0.1
                    repeat: 20

              - states: "[按键可用-特殊攻击]"
                operations:
                  - op_name: "按键-特殊攻击"
                    post_delay: 0.1
                    repeat: 5
                  - op_name: "等待秒数"
                    seconds: 1.25
                  - op_name: "按键-闪避"
                    post_delay: 0.1
                  - op_name: "按键-普通攻击"
                    post_delay: 0.1
                    repeat: 20

              - states: ""
                operations:
                  - op_name: "按键-普通攻击"
                    post_delay: 0.1

      # 妮可
      - states: "[前台-妮可]"
        interrupt_states: ["后台-妮可"]
        sub_handlers:
          - states: "[自定义-闪避]"
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.2
                repeat: 2
              - op_name: "等待秒数"
                seconds: 1

          - states: "[自定义-快速支援换人]"
            operations:
              - op_name: "按键-普通攻击"
                pre_delay: 0.15
                post_delay: 0.15
                repeat: 5

          - states: "[自定义-招架支援]"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - op_name: "按键-普通攻击"
                post_delay: 0.05
                repeat: 28
              - op_name: "等待秒数"
                seconds: 1
              - op_name: "清除状态"
                state: "自定义-动作不打断"

          - states: "[自定义-连携技换人]"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - op_name: "等待秒数"
                seconds: 2
              - op_name: "清除状态"
                state: "自定义-动作不打断"

          - states: "[按键可用-终结技]"
            operations:
              - op_name: "按键-终结技"
                post_delay: 0.1
                repeat: 20
              - op_name: "等待秒数"
                seconds: 1.5

          - states: "[妮可-能量]{80, 120}"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - op_name: "按键-特殊攻击"
                way: "按下"
                press: 0.5

          - states: ""
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.2

      - states: "![自定义-连携技换人, 0, 14]"
        sub_handlers:
          - states: "![前台-青衣] & ![前台-安比] & ![后台-安比]"
            operations:
              - op_name: "等待秒数"
                seconds: 1
              - op_name: "按键-切换角色"
                agent_name: "青衣"
              # 注意清除其他相关的换人状态
              - op_name: "清除状态"
                state_list: ["自定义-动作不打断"]
              - op_name: "等待秒数"
                seconds: 0.2

          - states: "![前台-安比] & ![前台-青衣] & ![后台-青衣]"
            operations:
              - op_name: "等待秒数"
                seconds: 1
              - op_name: "按键-切换角色"
                agent_name: "安比"
              # 注意清除其他相关的换人状态
              - op_name: "清除状态"
                state_list: ["自定义-动作不打断"]
              - op_name: "等待秒数"
                seconds: 0.2

      # 青衣
      - states: "[前台-青衣] & ![按键可用-连携技, 0, 2]"
        interrupt_states: ["后台-青衣"]
        sub_handlers:
          - states: "[自定义-闪避]"
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.2
                repeat: 2

          - states: "[自定义-快速支援换人]"
            operations:
              - op_name: "按键-普通攻击"
                pre_delay: 0.15
                post_delay: 0.15
                repeat: 2

          - states: "[自定义-招架支援]"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - op_name: "按键-普通攻击"
                pre_delay: 0.1
                post_delay: 0.1
                repeat: 10
              - op_name: "等待秒数"
                seconds: 0.5
              - op_name: "清除状态"
                state: "自定义-动作不打断"

          # 青衣基础连招
          - states: "[青衣-电压]{0, 25} & [按键可用-终结技]"
            operations:
              - op_name: "按键-终结技"
                post_delay: 0.1
                repeat: 20
              - op_name: "等待秒数"
                seconds: 1.5

          - states: "[青衣-电压]{75, 101}"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
                value: 1
              - op_name: "按键-普通攻击"
                way: "按下"
                press: 3
                post_delay: 1
              - op_name: "清除状态"
                state: "自定义-动作不打断"
              - op_name: "清除状态"
                state: "自定义-青衣-普攻次数"

          - states: "[自定义-青衣-普攻次数]{40, 999}"
            operations:
              - operation_template: "通用-闪避-前"
              - op_name: "清除状态"
                state: "自定义-青衣-普攻次数"

          - states: "[前台-能量]{80, 120} & ![自定义-动作不打断, 0, 3]"
            operations:
              - op_name: "按键-特殊攻击"
                post_delay: 1
              - op_name: "等待秒数"
                seconds: 0.5
              - op_name: "清除状态"
                state: "自定义-青衣-普攻次数"

          - states: "[青衣-电压]{0, 74}"
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.05
                repeat: 2
              - op_name: "设置状态"
                state: "自定义-青衣-普攻次数"
                add: 3

      # 青衣
      - states: "[前台-安比] & ![按键可用-连携技, 0, 2]"
        interrupt_states: ["后台-安比"]
        sub_handlers:
          - states: "[自定义-闪避]"
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.2
                repeat: 2

          - states: "[自定义-快速支援换人]"
            operations:
              - op_name: "按键-普通攻击"
                pre_delay: 0.15
                post_delay: 0.15
                repeat: 2

          - states: "[自定义-招架支援]"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - op_name: "按键-普通攻击"
                pre_delay: 0.1
                post_delay: 0.1
                repeat: 10
              - op_name: "等待秒数"
                seconds: 0.5
              - op_name: "清除状态"
                state: "自定义-动作不打断"

          # 安比基础连招
          - states: "[按键可用-特殊攻击]"
            operations:
              - op_name: "设置状态"
                state: "自定义-动作不打断"
              - operation_template: "通用-闪避-前"
              - op_name: "按键-特殊攻击"
                post_delay: 1.2
              - op_name: "清除状态"
                state: "自定义-动作不打断"

          - states: ""
            operations:
              - op_name: "按键-普通攻击"
                post_delay: 0.05
                repeat: 7